.more-screen .icon-row {
  margin-top: 35px;
}

.suggestions-more {
  margin-top: 10px;
  border-top: var(--main-border);
  padding-top: 30px;
}

.suggestions-more__title {
  margin-bottom: 20px;
}

.suggestions-more__apps-row {
  display: flex;
}

.suggestions-more__apps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 20px;
}

.suggestions-more__apps img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.suggestions-more__apps span {
  color: var(--grey-font);
  margin-top: 10px;
}
